/* style.css */
body {
  font-family: Arial, sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player-info {
  border-bottom: solid 1px red;
}

.england {
  background-image: url("ports/England_port.jpg");
}
.france {
  background-image: url("ports/France_port.jpg");
}

.italy {
  background-image: url("ports/Italy_port.jpg");
}

.greece {
  background-image: url("ports/Greece_port.jpg");
}

.china {
  background-image: url("ports/China_port.jpg");
}

.india {
  background-image: url("ports/India_port.jpg");
}

.spain {
  background-image: url("ports/Spain_port.jpg");
}

.turkey {
  background-image: url("ports/Turkey_port.jpg");
}

.japan {
  background-image: url("ports/Japan_port.jpg");
}

.egypt {
  background-image: url("ports/Egypt_port.jpg");
}

#login-form,
#register-form {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto;
  background-size: cover;
  background-position: center;
}

/* TODO display none for a while */
#market {
  display: none !important;
}

#login-form {
  background-image: url("images/login-background.jpg");
}

#register-form {
  background-image: url("images/register-background.jpg");
}
.card {
  /* background: rgba(255, 255, 255, 0.6); */
  opacity: 0.6;
}
#current-port {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}
